<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ShopEasy Automation Suite" verbose="2">

    <!-- T063: Maven + TestNG Setup -->
    <test name="Login Tests - TC001 to TC003">
        <classes>
            <class name="com.ecommerce.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Register Tests - TC004 to TC007">
        <classes>
            <class name="com.ecommerce.tests.RegisterTest"/>
        </classes>
    </test>

    <!-- T067: Navigation Tests -->
    <test name="Navigation Tests - TC021 to TC026">
        <classes>
            <class name="com.ecommerce.tests.NavigationTest"/>
        </classes>
    </test>

</suite>