<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ShopEasy Automation Suite" verbose="2">

    <test name="Login Tests">
        <classes>
            <class name="com.ecommerce.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Register Tests">
        <classes>
            <class name="com.ecommerce.tests.RegisterTest"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.ecommerce.tests.NavigationTest"/>
        </classes>
    </test>

    <!-- T076 + T077 -->
    <test name="Day 36 - Logout and Session Tests">
        <classes>
            <class name="com.ecommerce.tests.LogoutTest"/>
        </classes>
    </test>

</suite>